#Titel {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

#Titel:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
}
  
  #Titel h1 {
    color: #ff3c38;
    font-size: 2rem;
    margin: 0;
  }